@model ASPNETCoreProject.Models.Birim
@{
    ViewData["Title"] = "YeniBirim";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="my-4">
    <form class="form-group" method="post">
        <b>Birim Adı</b>
        @Html.TextBoxFor(x=>x.BirimAd,new{@class="form-control"})
        <br />
        <button class="btn btn-info">Birim Ekle</button>
    </form>
</div>


